

  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* @layer components{
  .content{
    background: @apply bg-primary;
  } */
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */
  
  
   header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 767px) {
     header .container {
      flex-direction: column;
      justify-content: center;
    }
  }
  
   .content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    min-height: calc(100vh - 80px);
  }
  @media (max-width: 767px) {
     .content .container {
      gap: 0;
      min-height: calc(100vh - 101px);
      justify-content: center;
      flex-direction: column-reverse;
    }
  }
  @media (max-width: 767px) {
     .content .info {
      text-align: center;
      margin-bottom: 15px 
    }
  }
   .content .info h1 {
    color: #bbbbbb;
    font-size: 44px;
  }
   .content .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #b3b3b3;
  }
   .content .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #6c63ff;
  }
   .content .image{
    max-width: 100%;
    z-index: 0;
  }
  /* End Landing Page */


  